.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
  }

mat-card {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

h2 {
  float: left;
  padding: 10px 215px 10px 10px;
}

mat-card-content.mat-mdc-card-content {
  background: rgba(240, 128, 128, 0.5);
}