<section>
  <h2 mat-dialog-title>Please Enter the Location You Found the Pig</h2>
  <form 
    id="form-wrapper"
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    >
    <fieldset mat-dialog-content>
      <mat-form-field appearance="fill">
        <mat-label>Location Name</mat-label>
        <input matInput formControlName="locationNameControl">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Latitude</mat-label>
        <input type="number" matInput formControlName="latitudeControl">
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Longitude</mat-label>
        <input type="number" matInput formControlName="longitudeControl">
      </mat-form-field>
    </fieldset>
  </form>
</section>
<div id="location-modal-button-wrapper" mat-dialog-actions>
  <div id="cancel-button-wrapper">
    <label for="cancel-buton">CANCEL</label>
    <button id="cancel-buton" mat-icon-button mat-dialog-close color="warn" aria-label="Cancel icon button">
      <mat-icon>wrong_location</mat-icon>
    </button>
  </div>
  <div class="vertical-line"></div>
  <div id="add-button-wrapper">
    <label for="add-buton">ADD</label>
    <button id="add-buton" mat-icon-button color="accent" aria-label="Add icon button" mat-dialog-close type="submit" [disabled]="!form.valid">
      <mat-icon>add_location_alt</mat-icon>
    </button>
  </div>
</div>