.mat-mdc-form-field {
    display: inline;
}

.mat-icon {
    width: 40px;
    height: 40px;
    font-size: 40px;
}

fieldset {
    border: none;
    padding-bottom: 0;
}

.mdc-dialog__actions {
    box-sizing: content-box;
}

.mat-mdc-dialog-actions {
    justify-content: space-evenly;
    justify-content: space-evenly;
    padding-top: 0px;
    margin: 0px 25px 25px 25px;
}

label {
    align-self: center;
    font-size: large;
}

div#cancel-button-wrapper, div#add-button-wrapper {
    display: flex;
}

.mat-mdc-icon-button.mat-mdc-button-base {
    width: 48px;
    height: 48px;
    padding: 0;
}

.vertical-line {
    border-left: 1px solid rgb(157 157 157);
    height: 30px;
    padding-right: 30px;
}