<div id="password-modal-wrapper">
    <section *ngIf="showPasswordInput === false">
        <h2>Are you sure?</h2>
        <div class="password-button-wrapper">
            <button mat-flat-button color="warn" mat-dialog-close (click)="onClose()">CANCEL</button>
            <button mat-flat-button color="accent" (click)="onContinue()">CONTINUE</button>
        </div>
    </section>
    <section *ngIf="showPasswordInput === true">
        <h3>Enter Password to Continue:</h3>
        <input type="text" id="password" name="password" [(ngModel)]="password">
        <div class="password-button-wrapper">
            <button mat-flat-button color="warn" mat-dialog-close (click)="onClose()" >CANCEL</button>
            <button mat-flat-button color="accent" (click)="onSubmitPassword()">SUBMIT</button>
        </div>
    </section>
</div>

